@model ListItem

@{
    ViewData["Title"] = "EditListItem";
}

<h1>Edit List Item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditListItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ToDoListId" />
            <div class="form-group">
                    <label asp-for="ItemName" class="control-label"></label>
                    <input asp-for="ItemName" class="form-control" />
                    <span asp-validation-for="ItemName" class="text-danger"></span>

                    <label asp-for="ItemDescription" class="control-label"></label>
                    <input asp-for="ItemDescription" class="form-control" />
                    <span asp-validation-for="ItemDescription" class="text-danger"></span>

                    <label asp-for="Progress" class="control-label"></label>
                    <select asp-for="Progress" asp-items="@ViewBag.ProgressSl" class="form-control"></select>
                    <span asp-validation-for="Progress" class="text-danger"></span>

                    <label asp-for="EstimatedTime" class="control-label"></label>
                    <input asp-for="EstimatedTime" class="form-control" />
                    <span asp-validation-for="EstimatedTime" class="text-danger"></span>

                    <label asp-for="TimeSpent" class="control-label"></label>
                    <input asp-for="TimeSpent" class="form-control" />
                    <span asp-validation-for="TimeSpent" class="text-danger"></span>

                    <label asp-for="Priority" class="control-label"></label>
                    <select asp-for="Priority" asp-items="@ViewBag.PrioritySl" class="form-control"></select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}