@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Harryprs ToDo</h1>
</div>
<div class="text-center">
    @if (User.IsInRole("User"))
    {
        <p><a asp-action="Logout" asp-controller="Auth">Logout</a></p>
    }
    else
    {
        <p><a asp-area="" asp-controller="Auth" asp-action="Register">Register</a></p>
        <p><a asp-area="" asp-controller="Auth" asp-action="Login">Login</a></p>
    }
</div>